{% extends "base.html" %}
{% block title %} Take quizzes in ISL! {% endblock %}
{% block stylesheets %}
    <meta name="title" content="Learn ISL!">
    <meta name="og:title" content="Learn ISL!">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/cards.css") }}">
{% endblock %}
{% block content %}

    <h1 id="main-heading">Take a quiz!</h1>
    <div class="container">
        <!-- create a different card for each sign using a for loop -->
    <ul class="list-group">
        {% for curquiz in quizlist %}
                <li class="list-group-item mt-2" style="width: 40%; margin-left: 30%;"><a href="{{ url_for('quiz', id=curquiz["id"]) }}">{{ curquiz.title }}</a></li>
        {% endfor %}
     </ul>
    </div>
{% endblock %}